<!-- file-upload.component.html -->
<div class="file-upload-container">
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="uploadFile()">Subir Archivo</button>

  <div *ngIf="uploadSuccessMessage" class="success-message">
    {{ uploadSuccessMessage }}
    <button (click)="clearUploadSuccessMessage()">Cerrar</button>
  </div>

  <table *ngIf="fileList.length > 0">
    <thead>
      <tr>
        <th>Nombre del Archivo</th>
        <th>Ruta del Archivo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of fileList; let i = index">
        <td>{{ file.name }}</td>
        <td>{{ file.path }}</td>
        <td>
          <button (click)="removeFile(file.id); removeFileS3(file.name)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
