<!-- file-upload.component.html -->
<div class="file-upload-container">
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="uploadFile()">Subir Archivo</button>

  <table *ngIf="fileList.length > 0">
    <thead>
      <tr>
        <th>Nombre del Archivo</th>
        <!-- <th>Tipo de Archivo</th> -->
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of fileList; let i = index">
        <td>{{ file.name }}</td>
        <!-- <td>{{ file.type }}</td> -->
        <td>
          <button (click)="removeFile(i)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
